<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()} LeoDev
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Gracias por visitar mi sitio web
  </p>
</footer>
