---
import { Picture } from "astro:assets";
import heroImage from "assets/responsive.png";
---

<main class="grid md:grid-cols-2 place-items-center pt-16 md:pt-12">
  <div class="py-6 md:block animate-fade-in-right animate-delay-100">
    <Picture
      src={heroImage}
      alt="imagen hero"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
    />
  </div>
  <div class="px-6">
    <h1
      class="text-4xl lg:text-5xl font-bold animate-fade-in-left animate-delay-0">
      ¡Impulsa tu negocio con una página web!
    </h1>
    <p class="text-md mt-4 text-slate-600 font-medium max-w-xl">
      Si lo que necesitas es un portafolio web personal o una landing page,
      puedo ayudarte a elevar tu presencia digital, captar más clientes y
      destacar tus productos o servicios con un diseño impactante y funcional.
      <br />
      <br />
      ¡Comienza tu presencia en línea y haz que tu negocio brille!
    </p>
  </div>
</main>
