---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-32">
  <h2 class="text-center text-slate-500">Tengo experiencia con estas tecnologías</h2>
  <div
    class="flex gap-8 md:gap-20 md:px-4 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-10 md:h-12" name="simple-icons:astro"/>
    <Icon class="h-10 md:h-12" name="simple-icons:tailwindcss"/>
    <Icon class="h-10 md:h-12" name="simple-icons:figma"/>
    <Icon class="h-10 md:h-12" name="simple-icons:cloudflare"/>
    <Icon class="h-10 md:h-12" name="simple-icons:vercel"/>
  </div>
</div>
