---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";

const menuitems = [
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Proyectos",
    path: "/portfolio",
  },
  {
    title: "Sobre mí",
    path: "/about",
  },
  {
    title: "Contacto",
    path: "/contact",
  },
];

const currentPath = Astro.url.pathname;
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="text-lg flex items-center justify-center">
            <img src="/favicon.svg" class="w-8 h-8 pr-1" alt="Logo de LeoDev" />
            <span class="font-bold text-slate-800 text-xl">Leo</span><span
              class="text-slate-500 text-xl">Dev</span
            >
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-8 h-8 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-6 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item) => (
                <li>
                  <a
                    href={item.path}
                    class={`flex lg:px-3 py-2 font-medium items-center ${
                      currentPath === item.path
                        ? "text-black underline" // Active link color
                        : "text-gray-600 hover:text-black" // Default link color
                    }`}>
                    <span> {item.title}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</StickyHeader>
